.editor_atto_content {
    min-height: unset;
}

.mod-simpleqcm-questionframe {
    width: 100%;
    height: auto;
    border: none;
    height: 100%;
    
}

.mod-simpleqcm-errormsg {
    border-width: 2px;
    border-color: red;
}

input[type="button"].mod-simpleqcm-invalidformbtn {
    opacity: 0.25;
    cursor: unset;
}

.mod-simpleqcm-displayed-question-on-header {
    display: inline-block;
    font-size: 14px;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    width: 50%;
}

legend.label {
    font-size: 14px;
}
