nav[role="navigation"] {
    display: none;
}

body {
    background: none;
}

#showRight {
    display: none;
}

#fgroup_id_buttonar {
    display: none;
}

.editor_atto_toolbar {
    opacity: 0.8;
}

.editor_atto_content_wrap {
    background-color: rgba(255,255,255,0.9);
}

#fitem_id_questiontexteditor .felement > div {
    background-color: lightsteelblue;
}

#fitem_id_questiontexteditor .editor_atto_content_wrap {
    background-color: rgba(255,255,255,0.5);
}

.simpleqcm_right_answer {
    background-color: forestgreen;
}

.simpleqcm_wrong_answer {
    background-color: darkred;
}

.editor_atto_notification {
    display: none;
}